body {
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm245-bb-12-job598.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=877c46f2081af6466e95e065125523ae');
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Fahkwang', sans-serif;
  }
  
  header
  {
    background-color: black;
    color: white;
    height: 70px;
    padding: 10px;
  }
  
footer {
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    text-align: center;
}
.mainpage
  {
    width: 1024px; 
    margin: 0 auto;
  }

.headname1
{
    color: rgb(255, 208, 0);
    font-size: 30px;
}

headname2
{
    color: rgb(255, 255, 255);
}

.graphic
{
  background-image: url("images/chantaburi-cover.jpeg");
  height: 320px;
  padding: auto;
}

.maps
{
  border: 1px solid rgb(255, 201, 201);
  height: 360px;
}